img.logo {
    width: 20vw;
    height: auto;
    mix-blend-mode: exclusion;
    position: fixed;
    right: 10px;
    z-index: 2;
    box-shadow: 10px 10px 100px green;
}

img.banner {
    width:100vw;
    height:auto;
}

.main {
    max-width: 80vw;
    margin: auto;
    width: 880px;
    color: green;
    font-size: 5vw;
    padding: 32px;
    margin: 100px 0px;
}

a {
    text-decoration: none;
    color: white;
    background: green;
    padding-inline: 5px;
}

a:hover {
    background: magenta;
}
  
