img.logo {
    width:100%;
    height:auto;
}

nav {
    width: 20vw;
    height: auto;
    position: fixed;
    right: 10px;
    top:10px;
    z-index: 2;
    box-shadow: 10px 10px 100px green;
}

/* Hide the checkbox */
#menu-toggle {
    display: none;
}

/* Hide menu by default */
.menu {
    display: none;
    list-style: none;
    padding: 10px;
    margin: 0px;
    line-height: 2em;
}

/* Show menu when checkbox is checked */
#menu-toggle:checked ~ .menu {
    display: block;
}

nav:has(#menu-toggle:checked){
    background:white;
    box-shadow: 10px 10px 100px gold;
    height: 100%;
    overflow: scroll;
}

img.banner {
    width:100%;
    height:auto;
    margin: 50px 0px;
}

.main {
    max-width: 80vw;
    margin: auto;
    width: 880px;
    color: green;
    font-size: 5vw;
    padding: 32px;
}

a {
    text-decoration: none;
    color: white;
    background: green;
    padding-inline: 5px;
}

a:hover {
    background: magenta;
}
  
