body {
    color: green;
    font-size: 5vw;
}

img.logo {
    width: 20vw;
    max-width: 200px;
    display: block;
    margin: 10px;
    box-shadow: 10px 10px 100px green;
    position: absolute;
    top: 0px;
    right: 0px;
}

 nav {
    height: auto;
    position: fixed;
    right: 0px;
    top:0px;
    z-index: 2;
} 

label {
    cursor:pointer;
    display:block;
    line-height: 0; 
}

/* Hide the checkbox */
#menu-toggle {
    display: none;
}

/* Hide menu by default */
.menu {
    display: none;
    list-style: none;
    padding: 20px;
    margin: 0px;
    width: 60vw;
    line-height: 2em;
    white-space: nowrap;
}

/* Show menu when checkbox is checked */
#menu-toggle:checked ~ .menu {
    display: block;
}

nav:has(#menu-toggle:checked){
    background:white;
    box-shadow: 10px 10px 100px green;
    height: 100%;
    overflow: scroll;
}

#menu-toggle:checked + label > img.logo {
    transform: rotate(180deg);
}

img.banner {
    width:100%;
    height:auto;
    margin: 50px 0px;
}

.main {
    max-width: 80vw;
    margin: auto;
    width: 880px;
    padding: 32px;
}

a {
    text-decoration: none;
    color: white;
    background: green;
    padding-inline: 5px;
}

a:hover {
    background: magenta;
}

.menu a {
    box-shadow: 10px 10px 50px brown;
}
